/source/test_factorial
/source/test_factorial.c
/submission/test_factorial.c
/submission/test_factorial_sol.c
/source/test_prime
/source/test_prime.c
/submission/test_prime.c
/submission/test_prime_sol.c
/run_autograder
/results
/source/autograder.zip
/source/test_data
